body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff8f5;
    color:#302420;
    line-height: 1.6;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}
section{
    padding: 48px 0;
}